%flex-center {
    justify-content: center;
    align-items: center;
}

%tobottom-blue-gradient {
    @include linear-gradient(to bottom, $light-blue, $dark-blue);
}

%toright-blue-gradient {
    @include linear-gradient(to right, $light-blue, $dark-blue);
}

%blue-gradient-button {
    @extend %toright-blue-gradient;
    height: $button-height;
    border-radius: $button-height/2;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    &:before {
        content: '';
        background-color: $dark-blue;
        border-radius: inherit;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s;
    }
    &:hover {
        color: white;
        &:before {
            opacity: 1;
        }
    }
}