@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat:200,200i,400,400i,600,600i,800,800i|Quicksand:400,500,700');


%comfortaa {
    font-family: 'Comfortaa', cursive;
}

%montserrat {
    font-family: 'Montserrat', sans-serif;    
}

%quicksand {
    font-family: 'Quicksand', sans-serif;
}