* {
    @extend %quicksand;
    font-size: 18px;
    line-height: 30px;
    color: $dark-grey;
}

a {
    @extend %comfortaa;
    text-decoration: none;
    transition:0.3s;
    &:hover {
        text-decoration: none;
    }
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        padding: 5px;
    }
}