#site-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    height: $header-height;
    width: 100%;
    background-color: white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    &.scrolled {
        height: $header-height-scrolled;
        .logo {
            max-width: 150px;
        }
    }
    .container, .row {
        height: 100%;
    }
    .logo {
        display: inline-block;
        max-width: 200px;
        img {
            width: 100%;
        }
    }
    .menu {
        display: flex;
    }
    div[class^="menu-"] {
        height: 100%;
    }
    ul {
        height: 100%;
    }
    li {
        display: flex;
        @extend %flex-center;
        a {
            font-size: 14px;
            line-height: 18px;
            color: $dark-grey;
            &:hover {
                color: $light-blue;
            }
        }
    }
}

#site-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#main-nav, #user-nav {
    @include breakpoint (laptop) {
        display: none;
    }
}

#mobile-menu {
    display: none;
    @extend %flex-center;
    @include breakpoint (laptop) {
        display: flex;
    }
}

#menu-user-menu {
    justify-content: flex-end;
    li {
        &:last-of-type {
            a {
                display: flex;
                @extend %flex-center;
                @extend %blue-gradient-button;
            }
        }
    }
}